/*
    Este estilo é para estilizar todo o conteudo
    desse programa. Vou criar fontes mais grandes para
    quem tem problemas de vistas poder exergar com mais
    facilidade.
*/

body{
    background-color: #ddd;
    padding: 0px;
}

iframe{
    width:100vw;
    height:100vh;
}

#voltar{
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    padding: 15px;
    border: 1px solid black;
}

article{
    width: 80%;
    min-width: 400px;
    max-width: 900px;
    background-color: white;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid black;
}

h1{
    font-size: 55px;
}

p, li{
    font-size: 22px;
}

li{
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

li:hover{
    background-color: #ccc;
    transition: 0.5s;
}

a{
    text-decoration: none;
    color: black;
}

